extends ../default.pug
block pageContent
    include ../templates/gr-o-header-admin-two
    .content.gr-o-content
        .container
            section.css-social
                .css-social-main
                    .css-social-info.gr-o-social-info
                        .css-social-info-wrapp.gr-o-social-info-wrapp
                            .css-social-link.gr-o-social-link
                                a(href='css-main.html') Головна
                                a(href='css-mentor.html') Наставники
                                a(href='css-social.html') Громадські організації
                                a(href='css-material.html') Матеріали

                            .css-social-title.gr-o-social-title
                                p
                                    | в інтернатних закладах
                                    br
                                    | україни перебуває
                                    span  105 703 дітей

                                .css.counter.gr-o.gr-o-counter
                                    .counter-numb.gr-o-counter-numb 0 
                                    .counter-numb.gr-o-counter-numb 2
                                    .counter-numb.gr-o-counter-numb 9
                                    .counter-numb.gr-o-counter-numb 0
                                span
                                    | Дітей мають наставників
                                    br
                                    | (активно взаємодіють)
        .css-main-stat.gr-o-main-stat
            .container
                .css-main-wrapp.gr-o-main-wrapp
                    h2 Загальна статистика наставництва в Україні
                    div.gr-o-wrapper-stat
                        .css-main-item.gr-o-main-item
                            p 153
                            span
                                | Виявили бажання
                                br
                                | стати наставником

                        .css-main-item.gr-o-main-item
                            p 59
                            span
                                | Пройшли інфо-
                                br
                                | зустріч
                            .css-main-circle.gr-o-main-circle
                                span 39%

                        .css-main-item.gr-o-main-item
                            p 57
                            span
                                | Пройшли консультацію 
                                br
                                | у психолога
                            .css-main-circle.gr-o-main-circle
                                span 57%

                    div.gr-o-wrapper-stat
                        .css-main-item.gr-o-main-item
                            p 312
                            span
                                | Пройшли навчання
                            .css-main-circle.gr-o-main-circle
                                span 24%

                        .css-main-item.gr-o-main-item
                            p 137
                            span
                                | Отримали висновок
                            .css-main-circle.gr-o-main-circle
                                span 24%

                        .css-main-item.gr-o-main-item
                            p 37
                            span
                                | Підписали договір 
                                br
                                | Стали наставниками
                            .css-main-circle.gr-o-main-circle
                                span 57%




    include ../templates/gr-o-footer-log