extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content
        section.page-form
            .container
                .page-form-title
                    h2 Давай знайомитися!
                    p Заповни обов’язкову анкету кандидата в наставники
                    span
                        | Велике прохання заповнити всі графи анкети, даючи найбільш повні відповіді на запитання.
                        br
                        | Це допоможе краще здійснити взаємодобір пари «дитина-наставник»

                form(action='')
                    h3 1. Загальні відомості:
                    .page-form-register
                        .page-form-register-left
                            span ПІБ
                            input(type='text')
                            span Дата народження та ваш вік
                            input(type='text')
                            span Контактний телефон
                            input(type='phone')
                            span Електронна адреса
                            input(type='email')
                        .page-form-register-right
                            span Національність/Громадянство
                            input(type='text')
                            span Адреса фактичного місця проживання
                            input(type='text')
                            span Адреса реєстрації
                            input(type='text')
                            span Віросповідання
                            select
                                option Християнство
                                option Християнство
                                option Християнство
                            .page-form-register-religion
                                span Яку міську церкву ви відвідуєте?
                                input(type='text')
                                span Як часто?
                                select
                                    option Раз на тиждень
                                    option Раз на тиждень
                                    option Раз на тиждень

                    h3 2. Стан здоров’я:
                    .page-form-health
                        span Як Ви оцінюєте свій стан здоров’я?
                        input(type='text')
                        span Чи маєте Ви серйозні захворювання?
                        .page-form-check
                            label.form-check
                                input(type='radio', name='1', value='')
                                span.form-check-label-md Так
                            label.form-check
                                input(type='radio', name='1', value='', checked='checked')
                                span.form-check-label-md Hi

                        span Чи перебуваєте Ви на обліку:
                        .page-form-symptom
                            .page-form-symptom-item
                                p Нарколога
                                .page-form-check-symptom
                                    label.form-check
                                        input(type='radio', name='narco', value='')
                                        span.form-check-label-sm Так
                                    label.form-check
                                        input(type='radio', name='narco', value='', checked='checked')
                                        span.form-check-label-sm Hi

                            .page-form-symptom-item
                                p Психіатра
                                .page-form-check-symptom
                                    label.form-check
                                        input(type='radio', name='psixo', value='')
                                        span.form-check-label-sm Так
                                    label.form-check
                                        input(type='radio', name='psixo', value='', checked='checked')
                                        span.form-check-label-sm Hi

                            .page-form-symptom-item
                                p Фтизіатра
                                .page-form-check-symptom
                                    label.form-check
                                        input(type='radio', name='ftiz', value='')
                                        span.form-check-label-sm Так
                                    label.form-check
                                        input(type='radio', name='ftiz', value='', checked='checked')
                                        span.form-check-label-sm Hi

                            .page-form-symptom-item
                                p Терапевта
                                .page-form-check-symptom
                                    label.form-check
                                        input(type='radio', name='tera', value='')
                                        span.form-check-label-sm Так
                                    label.form-check
                                        input(type='radio', name='tera', value='', checked='checked')
                                        span.form-check-label-sm Hi

                        .page-form-symptom
                            .page-form-symptom-item-new
                                p Дерматовенеролога
                                .page-form-check-symptom-new
                                    label.form-check
                                        input(type='radio', name='derm', value='')
                                        span.form-check-label-sm Так
                                    label.form-check
                                        input(type='radio', name='derm', value='', checked='checked')
                                        span.form-check-label-sm Hi

                        .blue-title * Якщо так, то вкажіть назву медичної установи, термін перебування
                        input.blue-title-input(type='text')

                        span Чи є Ви ВІЛ-інфікованим?
                            .page-form-check
                                label.form-check
                                    input(type='radio', name='asid', value='')
                                    span.form-check-label-md Так
                                label.form-check
                                    input(type='radio', name='asid', value='', checked='checked')
                                    span.form-check-label-md Hi

                    h3 3. Освіта:













    include ../templates/footer-log.pug