extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content
        section.volunteer
            .container
                .volunteer-wellcome
                    img(src='img/baby-book.jpg')
                    .volunteer-wellcome-title
                        h2 Вітаємо на сторінці волонтерів!
                        p
                            | Якщо ти з якоїсь причини не можеш стати наставником, але бажаєш допомогти Наставництву ще якимось чином,
                            br
                            span в тебе є така можливість:
                        a(href='') Стати волонтером

        section.volunteer-blue-block
            .container
                .volunteer-blue-wrapp
                    .volunteer-blue-title
                        h3 Хто такий волонтер наставництва?
                        p
                            | “Це людина, яка будь-яким чином
                            br
                            | допомагає наставництву, але при цьому
                            br
                            | може не бути Наставником”

                    img(src='img/question-three.svg')

        section.volunteer-stage
            .container
                h2 Наприклад?
                .volunteer-stage-globe
                    .volunteer-stage-item
                        h5 популяризація
                        p
                            | Дітям потрібно, щоб про Наставництво дізнавалося якомога
                            br
                            |  більше людей. Що, ти не маркетолог? Цього і не потрібно,
                            br
                            |  адже зробити перепост в соц. мережі, або просто розповісти
                            br
                            |   друзям чи колегам про Наставництво може кожен.

                    .volunteer-img-globe
                        .volunteer-img-item
                            img(src='img/crystal-ball.png')

                .volunteer-stage-master
                    .volunteer-img-master
                        .volunteer-img-item
                            img(src='img/antenna.png')

                    .volunteer-stage-item
                        h5 Провести майстер-клас
                        p
                            | Ти вмієш щось робити і можеш навчити цьому дітей, супер!
                            br
                            | А якщо це пов'язано з якоюсь професією, - ще краще.
                            br
                            |   Наприклад, це можуть бути майстер-класи з кулінарного
                            br
                            |  мистецтва, пошиття будь чого, поробки з деревени, тощо.
                            br
                            |  Поміркуй, ти дійсно можеш чьогось навчити дитину.


                .volunteer-stage-vacant
                    .volunteer-stage-item
                        h5 ознайомити з професією
                        p
                            | Якщо в тебе є можливість запросити дитину з Наставником
                            br
                            |  до себе на робоче місце і показати чим ти займаєшься,
                            br
                            |  чудово! Для дитини така годинка може бути вирішальною
                            br
                            | в житті, і допоможе їй обрати професію.


                    .volunteer-img-vacant
                        .volunteer-img-item
                            img(src='img/wallet.png')

                .volunteer-stage-finanse
                    .volunteer-img-finanse
                        .volunteer-img-item
                            img(src='img/stethoscope.png')

                    .volunteer-stage-item
                        h5 Фінансова підтримка
                        p
                            | Нажаль, далеко не всі процеси Наставництва ще
                            br
                            |  фінансуються державою. Якщо в тебе є бажання, ти можеш
                            br
                            |  одноразово, або час від часу перераховувати гроші на
                            br
                            |  потреби Наставництва.


        section.volunteer-idea
            .container
                .volunteer-idea-wrapp
                    img(src='')
                    .volunteer-idea-title
                        span
                            | В тебе є інша ідея того, як Ти
                            br
                            | можеш допомогти Наставництву?
                        p З радістю її почуємо!

        section.volunteer-form
            .container
                .volunteer-form-card
                    .volunteer-form-left

                    .volunteer-form-line

                    .volunteer-form-right





















    include ../templates/footer-log.pug