.gr-o-css-admin-info div span{
	color:$gr-o-main;
}
.gr-o-css-admin-main-card > h5{
	color: $gr-o-main;
}
.gr-o-css-admin-wrapp div span{
	color:$gr-o-main;
}
.gr-o-css-admin-card > h5{
	color:$gr-o-main;
}
.gr-o-css-admin-rest div h4{
	color:$gr-o-main;
}
.gr-o-css-card-check input[type=checkbox].css-font:checked ~ label:before{
	color:$gr-o-main;
}