.volunteer{
  &-wellcome{
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
    & > img{
      width: 583px;
      height: 474px;
    }
    &-title{
      position: relative;
      right: 120px;
      & > h2{
        color: $grafit-color;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.16px;
        margin:50px 0 80px;
      }
      & > p{
        font-size: 18px;
        letter-spacing: 1.25px;
        color: $black-color;
        margin-bottom: 30px;
        width: 565px;
        & > span{
          color: $main-color;
          font-weight: 600;
        }
      }
      & > a{
        @include yellow-btn;
        font-weight: bold;
      }
    }
  }
  &-blue{
    &-wrapp{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &-block{
      background: $main-color;
      padding: 30px 0;
    }
    &-title{
      & > h3{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.25px;
        color: $white-color;
        margin-bottom: 30px;
      }
      & > p{
        font-size: 20px;
        letter-spacing: 1.04px;
        margin-bottom: 0;
        color: $white-color;
      }
    }
  }
  &-img{
    &-item{
      width: 125px;
      height: 125px;
      border-radius: 100%;
      background: #E2EDF0;
      @include flex-center-center;
    }
    &-vacant, &-master, &-finanse, &-globe{
      width: 162px;
      height: 162px;
      border-radius: 100%;
      border: 2px solid $main-color;
      padding: 10px;
      @include flex-center-center;
    }
  }
  &-stage{
    padding: 80px 0;
    & h2{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.04px;
      color: $grafit-color;
      text-align: center;
      margin-bottom: 70px;
    }
    &-item{
      & > h5{
        color: $main-color;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.38px;
        margin-bottom: 20px;
      }
      & > p {
        color: $black-color;
        font-size: 20px;
        letter-spacing: 1.38px;
        width: 666px;
      }
    }
    &-globe, &-master, &-vacant, &-finanse{
      @include flex-between-center;
      margin-bottom: 65px;
    }
  }
}