@import "variables-functions-and-mixins";


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-weight: 400;
  font-family: $main-font;
}
a, a:hover{
  text-decoration: none;
  transition: 0.5s ease;
}
button, button:hover{
  text-decoration: none;
  transition: 0.5s ease;
}
button:focus, input:focus, textarea:focus, select:focus, label:focus{
  outline: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  position: relative;
}
.footer {
  flex: 0 0 auto;
}


// alert bage

.alert.alert-danger{
  position: fixed;
  top: 125px;
  right: 25px;
}

.alert-border{
  border: 1px solid red!important;
  position: relative!important;
}




//  main style

.admin{
  &-link{
    font-size: 12px;
    letter-spacing: 0.83px;
    color: #7C7D7E;
    font-weight: 500;
    &:hover{
      color: $main-color;
    }
    &.active{
      color: $main-color;
    }
    &-nav{
      padding: 35px 0;
    }
    &-title{
      font-size: 12px;
      letter-spacing: 0.83px;
      color: $main-color;
      font-weight: 500;
      display: inline-block;
      cursor: default;
    }
  }
}



// new message

.message{
  position: relative;
  &-check{
    input[type=radio].css-font,
    input[type=checkbox].css-font {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      cursor: pointer;
    }
    input[type=radio].css-font ~ label:before,
    input[type=checkbox].css-font ~ label:before {
      font-family: FontAwesome;
      display: inline-block;
      content: "0";
      letter-spacing: 10px;
      color: #aaa;
      width: 1.4em;
      cursor: pointer;
    }
    input[type=checkbox].css-font ~ label:before {
      content: "\f096";
      cursor: pointer;
    }
    input[type=checkbox].css-font:checked ~ label:before {
      content: "\f046";
      color: $css-color;
      cursor: pointer;
      display: block;
    }
    & > label{
      display: flex;
      line-height: 1;
      font-size: 10px;
      letter-spacing: 0.56px;
      margin-bottom: 0;
    }
    &::before{
      content: ' ';
      position: absolute;
      left: 10px;
      top: -10px;
      border-left: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 1px solid #fff;
      -webkit-filter: drop-shadow(-3.7px 4.7px 2.7px rgba(0, 0, 0, 0.15));
      filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.15));
    }
  }
  & >a {
    & > i{
      color: #848484!important;
      font-size: 20px;
    }
  }
  &-item{
    box-shadow: -1px 0 5px 0 rgba(129,127,127,0.5);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    left: 15px;
    z-index: 100;
    & span{
      font-size: 10px;
      letter-spacing: 0.56px;
      color: $grafit-color;
      display: block;
      text-align: center;
      margin-bottom: 18px;
    }
  }
  &-wrapp{
    display: flex;
    justify-content: space-between;
    & > a{
      background: $css-color;
      border-radius: 4px;
      width: 75px;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.56px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 18px;
    }
  }
  &-new{
    position: absolute;
    left: 10px;
    top: -5px;
    height: 25px;
    width: 25px;
    background-color: #DB0101;
    border-radius: 100%;
    & span{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      width: 100%;
      height: 100%;
    }
  }
}






// triangle

@mixin triangle-green{
  background-image: url(/img/triangle-green.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 13px 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
}

// style checkbox







input[type="radio"]:before {
  content: " ";
  display: block;
  background-color: white;
  border: 1px solid #D8D8D8;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 100px;
  visibility: initial;
}
input[type="radio"]:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  visibility: initial;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}
input[type="radio"]:checked:after {
  background: $main-color;
}


@import 'media';
@import "fonts";

// ЭТО ВСЕ МЫ ПОДКЛЮЧАЕМ КАК <link rel="stylesheet" href="css/main.css">  И НИКАК ИНАЧЕ !


