@import "variables-functions-and-mixins";


* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

html,
body {
  height: 100%;
  font-weight: 400;
  font-family: $main-font;
}
a, a:hover{
  text-decoration: none;
}
button, button:hover{
  text-decoration: none;
  transition: 0.5s ease;
}
button:focus, input:focus, textarea:focus, select:focus, label:focus{
  outline: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  position: relative;
}
.footer {
  flex: 0 0 auto;
}


// alert bage

.alert.alert-danger{
  position: fixed;
  top: 125px;
  right: 25px;
}

.alert-border{
  border: 2px solid red!important;
  }
.error-bage{
  font-size: 15px;
  margin-bottom: 15px;
  color: red;
}
//  main style

.admin{
  &-link{
    font-size: 12px;
    letter-spacing: 0.83px;
    color: #7C7D7E;
    font-weight: 500;
    &:hover{
      color: $main-color;
    }
    &.active{
      color: $main-color;
    }
    &-nav{
      padding: 35px 0;
    }
    &-title{
      font-size: 12px;
      letter-spacing: 0.83px;
      color: $main-color;
      font-weight: 500;
      display: inline-block;
      cursor: default;
    }
  }
}

.error-form {
  display: block;
  margin: 10px 0;
  color: #e82929;
  text-transform: uppercase;
  font-size: 7px;
  text-align: right;
  width: 100%;
}

// style checkbox

input[type="radio"]:before {
  content: " ";
  display: block;
  background-color: white;
  border: 1px solid #D8D8D8;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 100px;
  visibility: initial;
}
input[type="radio"]:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  visibility: initial;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}
input[type="radio"]:checked:after {
  background: $main-color;
}










@import 'media';
@import "fonts";

// ЭТО ВСЕ МЫ ПОДКЛЮЧАЕМ КАК <link rel="stylesheet" href="css/main.css">  И НИКАК ИНАЧЕ !


