header.header-log.gr-o-header-log
    .container
        nav.header-log-wrapp
            .header-logo
                a(href='/')
                    img(src='img/logo-purple.svg', alt='')
            .header-notification.gr-o-header-notification
                
                a.header-notification-icon.gr-o-notification-icon(href="")
                    i.fas.fa-cog
                a.header-notification-icon.gr-o-notification-icon(href='')
                    i.fas.fa-bell

                .admin.gr-o-admin
                    img(src='img/ava.png', alt='')
                    .admin-title
                        span Особистий кабінет МСП України
                        .admin-menu-off.gr-o-admin-menu-off Ігор Петренко
                            i.fas.fa-caret-down
                            .admin-menu-on
                                a(href="/")
                                    i.fas.fa-sign-out-alt
                                    | Вихід з акаунта
                                a(href="admin.html")
                                    i.fas.fa-cog
                                    | Налаштування профілю



