header.header
    .container
        nav.header-wrapp
            .header-logo
                a(href='/')
                    img(src='img/header-logo.png', alt='')
            a.header-trigger(href='#')
                i.fas.fa-bars
            ul.header-wrapp-link
                li
                    a.header-link(href='#')
                        | Про
                        br
                        | наставництво
                li
                    a.header-link(href='#')
                        | Спеціалістам
                        br
                        |  з наставництва
                        span
                            i.fas.fa-caret-down
                li.header-dropp
                    a.header-link(href='#')
                        | Допомогти
                        br
                        | наставництву

            .header-btn
                a.header-link.header-login(href='#')
                    | Вхід
                    br
                    |  для наставників

                a.header-link.header-donate(href='#')
                    | Допомогти
                    br
                    |  фінансово

